.contentLeft {
    display: flex;
    justify-content: flex-end;
    padding: 12rem 4rem;
    border-radius: inherit;
}

.textContainer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 36rem;
    align-items: center;
}


.textContainer h3 {
    font-size: 2rem;
}


.iconContainer {
    height: 4rem;
    width: 4rem;
    margin-top: 1rem;
}

.iconContainer img {

    height: 4rem;
    width: 4rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {
    .contentLeft {
        display: flex;
        justify-content: flex-end;
        padding: 2rem 0;
        border-radius: inherit;
    }

    .textContainer {
        gap: 1rem;
        padding: 1rem 0;
        max-width: 100%;
    }

    .textContainer p {
        max-width: 80%;
        text-align: center;
    }


    .iconContainer {
        height: 3rem;
        width: 3rem;
    }

    .iconContainer img {
        height: 3rem;
        width: 3rem;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 840px) and (max-width: 1120px) {}