.buttonBar {
    display: flex;
    width: fit-content;
    flex-direction: row;
    position: absolute;
    gap: 2rem;
    padding-top: 2rem;
    transform: translateY(200%);
    transition: all 0.2s linear;
    overflow: hidden;

}

.btnVisible {
    transform: translateY(30%);
    transition-delay: 0s;
    visibility: visible;
}


.button {
    background: var(--lightgrey);
    cursor: pointer;
    font-family: var(--title-font);
    text-transform: uppercase;
    font-size: 0.7rem;
    transition: all 0.5s ease;
    padding: 0.25rem 0;
    border-radius: 20px;
    border: none;
    z-index: 2;
    width: fit-content;
    border: 1px solid var(--darkgrey);
}

.active {
    background-color: var(--darkgrey);
}

.button p {
    color: var(--darkgrey);
    transition: color 0.5s ease;
    width: 4rem;
    text-align: center;
    height: 100%;
    transition: all 0.5s ease;
    line-height: 0;
    padding: 0.5rem 0;
    transform: translateY(1px)
}

.active p {
    color: var(--white)
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {
    .buttonBar {
        display: flex;
        gap: 1rem;
        transform: translateY(calc(100% + 30px));
        transition: all 0.4s linear;
    }

    .btnVisible {
        transform: translateY(30%);
        transition-delay: 0s;
        visibility: visible;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 840px) and (max-width: 1120px) {}