.buttonBar {
    display: flex;
    width: fit-content;
    flex-direction: row;
    position: absolute;
    gap: calc(0.8rem + 1vw);
    padding-top: 2rem;
    transform: translateY(200%);
    transition: all 0.2s linear;
    overflow: hidden;

}

.btnVisible {
    transform: translateY(30%);
    transition-delay: 0s;
    visibility: visible;
}


.button {
    background: var(--lightgrey);
    cursor: pointer;
    font-family: var(--title-font);
    text-transform: uppercase;
    font-size: clamp(0.65rem, 0.2rem + 0.25vw, 0.8rem);
    transition: all 0.5s ease;
    padding: clamp(0.1rem, 0.05rem + 0.1vw, 0.25rem);
    border-radius: 20px;
    border: none;
    z-index: 2;
    width: fit-content;
    border: 1px solid var(--black);
}

.active {
    background-color: var(--black);
}

.button p {
    color: var(--black);
    transition: color 0.5s ease;
    width: var(--main-padding);
    text-align: center;
    height: 100%;
    transition: all 0.5s ease;
    line-height: 0;
    padding: 0.5rem 0;
    transform: translateY(1px);
    font-size: clamp(0.6rem, 0.2rem + 0.6vw, 0.7rem)
}

.active p {
    color: var(--white)
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 47.99rem) {
    .buttonBar {
        display: flex;
        gap: 1rem;
        transform: translateY(calc(100% + 30px));
        transition: all 0.4s linear;
    }

    .btnVisible {
        transform: translateY(30%);
        transition-delay: 0s;
        visibility: visible;
    }

    .button p {
        width: calc(3rem + 3vw);
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 74rem) {
    .buttonBar {
        display: flex;
        width: fit-content;
        flex-direction: row;
        position: absolute;
        gap: calc(0.8rem + 1vw);
        padding-top: 2rem;
        transform: translateY(200%);
        transition: all 0.2s linear;
        overflow: hidden;

    }

    .btnVisible {
        transform: translateY(30%);
        transition-delay: 0s;
        visibility: visible;
    }


    .button {
        background: var(--lightgrey);
        cursor: pointer;
        font-family: var(--title-font);
        text-transform: uppercase;
        font-size: clamp(0.65rem, 0.2rem + 0.25vw, 0.8rem);
        transition: all 0.5s ease;
        padding: clamp(0.1rem, 0.05rem + 0.1vw, 0.25rem);
        border-radius: 20px;
        border: none;
        z-index: 2;
        width: fit-content;
        border: 1px solid var(--black);
    }

    .active {
        background-color: var(--black);
    }

    .button p {
        color: var(--black);
        transition: color 0.5s ease;
        width: calc(3rem + 3vw);
        text-align: center;
        height: 100%;
        transition: all 0.5s ease;
        line-height: 0;
        padding: 0.5rem 0;
        transform: translateY(1px);
        font-size: clamp(0.6rem, 0.2rem + 0.6vw, 0.7rem)
    }

    .active p {
        color: var(--white)
    }

}