.heading {
    margin: 0rem 0;
    width: fit-content !important;
    font-size: 6rem;
    will-change: font-variation-settings;
    font-variation-settings: 'wght' 400;
    overflow: hidden;
}

.heading h2 {
    width: fit-content;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {

    .heading h2 {
        font-size: 4rem;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 840px) and (max-width: 1120px) {}