.buttonsContainer {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    position: absolute;
    padding-bottom: var(--main-padding);
}

.button {
    cursor: pointer;
    font-family: var(--title-font);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border: none;
    z-index: 2;
    overflow: hidden;
    border-radius: 30px;
    justify-content: center;
    line-height: 0;
    gap: calc(0.4vw + 0.4rem);
}

.rightArrow,
.leftArrow {
    transition: all 0.2s ease-in-out;
}

.leftArrow {
    transform: rotate(180deg) translateX(100%);
}

.scrollDisabled .rightArrow {
    transform: translateX(100%);
}

.scrollDisabled .leftArrow {
    transform: translateX(0%) rotate(180deg);
}

.button p {
    font-size: clamp(1.2rem, 0.9rem + 1vw, 2rem);
    text-transform: lowercase;
}

.button:hover {
    filter: var(--brightness)
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {
    .buttonsContainer {
        transform: translateY(-30px);

    }

    .button p {
        font-size: 1.4rem;
        text-transform: lowercase;
    }




}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 74rem) {}





/* Tablet in portrait orientation */
@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {
    .buttonsContainer {
        display: flex;
        gap: 2rem;
        padding-top: 2rem;
        position: absolute;
        padding-bottom: var(--main-padding);
    }
}