.buttonsContainer {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
    position: absolute;
    padding-bottom: var(--main-padding);
}

.button {
    cursor: pointer;
    font-family: var(--title-font);
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: all 0.5s ease;
    padding: 0.8em 1.8em;

    border: none;
    z-index: 2;
}

.button p {
    font-size: 2rem;
}

.button:hover {
    filter: var(--brightness)
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {
    .buttonsContainer {
        transform: translateY(-30px);

    }




}

/* Tablet and Smaller Desktop */
@media (min-width: 840px) and (max-width: 1120px) {}