.informationContainer {
    position: absolute;
    left: var(--main-padding);
    top: 40%;
    transform: translateY(-50%);

}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    max-width: 40vw;
}

.content h3 {

    text-transform: uppercase;
    font-size: 2rem;
}



.content p {
    font-size: 1.2rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {
    .informationContainer {
        position: absolute;
        left: var(--main-padding);
        right: var(--main-padding);
        top: 40%;
        transform: translateY(-50%);

    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 60vw;
    }



    .content p {
        font-size: 1rem;

    }


}

/* Tablet and Smaller Desktop */
@media (min-width: 840px) and (max-width: 1120px) {}