.subHeading {
    overflow: hidden;
}

.subHeading h3 {
    font-size: 2rem;
    text-transform: uppercase;
    font-variation-settings: "wgth", 800;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {
    .subHeading {
        overflow: hidden;
    }

    .subHeading h3 {
        font-size: 1.5rem;
    }


}

/* Tablet and Smaller Desktop */
@media (min-width: 840px) and (max-width: 1120px) {}