.header {
    position: fixed;
    top: 0;
    width: 100svw;
    padding: 1.5rem var(--main-padding) 1rem var(--main-padding);
    z-index: 100;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    background-color: var(--lightgrey);
}

.hamburgerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoContainer a {
    cursor: pointer;
    z-index: 11;
}

.logoContainer img {
    height: 1.5rem;
    width: auto;
}

.contactContainer {
    justify-self: flex-end;
}

.navbarContainer {
    position: relative;
    overflow: hidden;
}

.contactContainer a {
    color: var(--white);
    padding: 0.5em 1.5em;
    background: var(--darkgrey);
    cursor: pointer;
    font-family: var(--title-font);
    text-transform: uppercase;
    transition: all 0.3s;
    font-size: 0.8rem;
    border-radius: 20px;
    border: 1px solid var(--darkgrey)
}

.contactContainer a:hover {
    background-color: var(--green);
    color: var(--black);
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 47.99rem) {
    .header {
        padding: 0.75rem 1rem;
    }

    .contactContainer a {
        padding: 0.5rem 1rem;
        font-size: calc(0.5rem + 0.5vw);
    }

    .logoContainer img {
        height: calc(0.8rem + 1vw);
        width: auto;
    }



}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 74rem) {

    .header {
        padding: 0.75rem 1rem;
    }

    .contactContainer a {
        padding: 0.5rem 0.75rem;
        font-size: calc(0.4rem + 0.5vw);
    }

    .logoContainer img {
        height: calc(0.8rem + 1vw);
        width: auto;
    }

}