.container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.container * {
    backdrop-filter: blur(20px);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {
    .container {
        border-radius: 5%;
        background: var(--lightgrey);
        box-shadow: 6px 6px 15px #cdcdcd,
            -6px -6px 15px #ffffff;
        border: 1px solid var(--lightgrey);
        transition: box-shadow 0.2s linear;
        width: fit-content;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 840px) and (max-width: 1120px) {}