.container {
    border-radius: 20px;
    background: var(--lightgrey);
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    filter: var(--brightness);
    border: 1px solid var(--lightgrey);
    transition: box-shadow 0.2s linear
}

.container:hover {
    box-shadow: 6px 6px 12px var(--green), -6px -6px 12px var(--green);
}