.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 18rem;
}

.contentContainer {
    z-index: 2;
    height: 100%;
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}


.groupContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconContainer img {
    height: 4rem;
    width: auto;
}