.contentContainer {
    z-index: 2;
    height: 100%;
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}

.groupContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 20px;
    overflow: hidden;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 840px) {
    .contentContainer {
        z-index: 2;
        height: 100%;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
    }

    .groupContainer {
        gap: 4rem;
        width: 100%;

    }

    .container {
        border-radius: 20px;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 840px) and (max-width: 1120px) {}