.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(7rem + 8vw);
    width: calc(7rem + 8vw);
}

.imageContainer img {
    height: 100%;
    width: auto;
    border-radius: 15px;

}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 47.99rem) {
    .imageContainer {
        height: fit-content;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(10rem + 12vw);
        width: calc(10rem + 12vw);

    }

    .imageContainer img {
        height: 100%;
        width: auto;
        height: calc(10rem + 12vw);
        width: calc(10rem + 12vw);

    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 70rem) {
    .imageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(7rem + 8vw);
        width: calc(7rem + 8vw);
    }

    .imageContainer img {
        height: 100%;
        width: auto;
        border-radius: 15px;
    }
}