.imageContainer {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer img {
    height: auto;
    width: 100%;
    padding: 1rem;
}