.textContainer {
    height: calc(7rem + 7vw);
    width: calc(7rem + 7vw);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    height: fit-content;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    visibility: visible;
    transition: all 0.2s linear;
}

.hovered {
    transform: translateY(0)
}

.textContainer h4 {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
}

.textContainer a {
    font-size: 0.8rem;
}


.subContainer {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2rem;
    align-items: flex-end;
    height: 2rem
}


.emailContainer {
    position: relative;
    overflow: hidden;
}


.emailContainer a {
    transition: all 0.2s linear;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.subContainer img {
    height: 1.2rem;
    width: 1.2rem;
    transform: translateY(3px)
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {
    .textContainer {
        height: calc(7rem + 7vw);
        width: calc(7rem + 7vw);
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 840px) and (max-width: 1120px) {}