.textContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: fit-content;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    visibility: visible;
    transition: all 0.2s linear;
}

.hovered {
    transform: translateY(0)
}

.textContainer h4 {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 400;
    width: fit-content;
}

.textContainer a {
    font-size: 0.8rem;
}

.upperContainer a {
    cursor: initial;
    pointer-events: none;
    text-transform: uppercase;
}



.subContainer {
    display: flex;
    width: fit-content;
    height: 100%;
    gap: 1rem;
    align-items: flex-end;
    padding-top: 0.5rem;
}


.emailContainer {
    position: relative;
    overflow: hidden;
}


.emailContainer a {
    transition: all 0.2s linear;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.subContainer img {
    transform: translateY(3px);
    width: 1.3rem;
    height: auto;
    object-fit: contain;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 840px) {

    .subContainer {
        display: flex;
        height: fit-content;
        width: fit-content;
        gap: 1rem;
        align-items: flex-end;
        height: fit-content;
    }

    .textContainer {
        height: fit-content;
        width: calc(10rem + 12vw);


    }

    .textContainer h4 {
        font-size: 1.2rem;
    }

    .subContainer img {
        height: 1.5rem;
        width: auto;
        transform: translateY(3px);
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 840px) and (max-width: 1120px) {}