.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    width: 2rem;
    height: 3rem;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 10;
}

.line {
    height: 4px;
    width: 100%;
    border: 1px solid var(--darkgrey);
    background: transparent;
    transition: transform 0.3s ease;
}

.hamburger.active .line:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
    background-color: var(--darkgrey);
}

.hamburger.active .line:nth-child(2) {
    visibility: hidden;
    transform: translateX(-20px);
}

.hamburger.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
    background-color: var(--darkgrey);

}



.hamburger.hidden .line:nth-child(1) {
    transform: translateX(-100%);
}

.hamburger.hidden .line:nth-child(2) {
    transform: translateX(-100%);
    transition-delay: 0.05s
}

.hamburger.hidden .line:nth-child(3) {
    transform: translateX(-100%);
    transition-delay: 0.1s
}


.hamburger.hidden {
    cursor: default;
}