.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    width: 2rem;
    height: 3rem;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
}

.line {
    height: 4px;
    width: 100%;
    border: 1px solid var(--darkgrey);
    background: var(--darkgrey);
    transition: transform 0.3s ease;
}

.hamburger.active .line:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
    visibility: hidden;
    transform: translateX(-20px);
}

.hamburger.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}