@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: "Gilroy Bold";
    src: url("/fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("/public/fonts/Gilroy-Light.ttf");
}

@font-face {
    font-family: "Gilroy Regular";
    src: url("/fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: "Satoshi Variable";
    src: url("/fonts/satoshi/Switzer-Variable.woff");
}



:root {

    /* general settings */
    font-size: 16px;
    --padding: 0.5rem;
    --padding-small: 0.25rem;
    --main-padding: 4rem;


    /* font variables */
    --title-size: 1.5rem;
    --title-font: "Satoshi Variable", sans-serif;
    --text-font: "Gilroy Regular";

    /* colors */
    --black: #0c160b;
    --green: #ace0af;
    --darkgrey: #343933;
    --lightgrey: #f9f9f9;
    --background-grey: #e4e4e4;
    --white: #fff;

    --lightgreen: #bfd8bd;
    --middlegreen: #7cb48f;
    --darkergreen: #5aa071;
    --darkgreen: #4a7856;



    /* filters */

    --brightness: brightness(1.03);


    /* time stuff */

    --time-short: 0.3s;
    --time-long: 0.5s;

    /* splashscreen only */
    --distance-x: 65px;
    --distance-y: 65px;
    --height: 8rem;


    /* hero section */

    --hero-padding: 10rem;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button {
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    color: var(--darkgrey)
}

h3 {
    font-size: 2rem;
    font-weight: 600;

}


body {
    height: fit-content;
    width: 100svw;
    min-height: 100svh;
    max-width: 2000px;
    background-color: var(--lightgrey);
}

li {
    list-style-type: none;
}

a,
p {
    color: var(--black);
}

a {
    text-decoration: none;
    font-family: var(--title-font)
}

p {
    font-family: var(--text-font) !important;
    line-height: 1.4;
}



@media (max-width: 840px) {

    :root {
        font-size: 14px;
        --main-padding: 2rem;
    }

    body {
        max-width: 100svw;
        overflow-x: hidden;
        max-height: 100svh;
    }

    h3 {
        font-size: 1.8rem;
    }
}