@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {

    /* general settings */
    font-size: 16px;
    --padding: 0.5rem;
    --padding-small: 0.25rem;


    /* font variables */
    --title-size: 1.5rem;
    --title-font: "Quicksand", sans-serif;

    /* colors */
    --black: #0c160b;
    --green: #ace0af;
    --darkgrey: #343933;
    --lightgrey: #f1f1f1;
    --white: #fff;

    --lightgreen: #bfd8bd;
    --middlegreen: #7cb48f;
    --darkergreen: #5aa071;
    --darkgreen: #4a7856;


    /* neumorphism */

    --boxshadow-positive_large: 20px 20px 54px #e3e3e3;
    --boxshadow-negative_large: -20px -20px 54px #ffffff;
    --boxshadow-positive_large-hover: inset 10px 10px 54px #e3e3e3, ;
    --boxshadow-negative_large-hover: inset -10px -10px 54px #ffffff;



    /* splashscreen only */
    --distance-x: 65px;
    --distance-y: 65px;
    --height: 8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
}

h1 {
    font-family: var(--title-font);
}

body {
    height: fit-content;
    max-width: 2000px;
    background-color: var(--lightgrey);
}



@media (max-width: 768px) {

    body {
        max-width: 100svw;
        overflow-x: hidden
    }
}