.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    z-index: -2;
}

.backgroundContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-grey);
}