.container {
    width: 100vw;
    height: 110vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contentContainer {
    z-index: 2;
    height: 85%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
    transition: all 0.3s linear;
    box-shadow: 0px 0px 0px rgb(136, 136, 136);
}


.imageContainer video {
    filter: brightness(0.6)
}

.imageContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
}

.imageContainer video {

    height: 100%;
    width: auto;
}


.titleContainer,
.textContainer {
    z-index: 2;
    position: relative;
}

.titleContainer h2 {
    color: white;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.textContainer p {
    color: white;
    width: 80%;
    font-size: clamp(0.8rem, 0.4rem + 0.7vw, 1.2rem);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 47.99rem) {
    .container {
        position: relative;
        overflow: initial;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: fit-content;
        width: fit-content;
        padding: 4rem 2rem;
        width: 100vw;
    }

    .contentContainer {
        z-index: 2;
        position: relative;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 20px;
        transition: all 0.3s linear;
        box-shadow: 0px 0px 0px rgb(136, 136, 136);
        padding: 1rem;
        height: 60vh;
    }

    .imageContainer {
        height: 100%;
        width: auto;
        position: absolute;
        z-index: 1;
        display: flex;
        top: 0;
        left: 0;
    }

    .imageContainer video {
        filter: brightness(0.6);
        transform: translateX(-30%)
    }


    .titleContainer h2 {
        color: white;
        font-size: clamp(1.2rem, 4vh, 2.5rem) !important;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .textContainer p {
        color: white;
        width: 100%;
        font-size: clamp(0.7rem, 1.4vh, 1.2rem);
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 70rem) {
    .container {
        width: 100svw;
        height: 100svh;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .contentContainer {
        z-index: 2;
        height: 85%;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        overflow: hidden;
        position: absolute;
        border-radius: 20px;
        transition: all 0.3s linear;
        box-shadow: 0px 0px 0px rgb(136, 136, 136);
    }


    .imageContainer video {
        filter: brightness(0.6)
    }

    .imageContainer {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        display: flex;
        top: 0;
        left: 0;
    }

    .imageContainer video {

        height: 100%;
        width: auto;
    }


    .titleContainer,
    .textContainer {
        z-index: 2;
        position: relative;
    }

    .titleContainer h2 {
        color: white;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .textContainer p {
        color: white;
        width: 80%;
        font-size: clamp(0.8rem, 0.4rem + 0.7vw, 1.2rem);
    }
}