.card {
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:
        -0px -0px 60px #cecdcd,
        20px 20px 60px #ffffff;
    transform: translateY(4rem);
}

.children {
    z-index: 100;
    display: flex;
    padding: 2rem;
    gap: var(--main-padding)
}

.bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 99.4%;
    height: 99%;
    z-index: 2;
    background: var(--lightgrey);
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: 2px solid white;
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 99%;
    height: 99%;
    border-radius: 50%;
    background-color: var(--lightgreen);
    opacity: 1;
    filter: blur(22px);
    animation: blob-bounce 10s infinite linear;
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}



/* Mobile */
@media (max-width: 48rem) {
    .card {
        position: relative;
        width: fit-content;
        height: fit-content;
        border-radius: 14px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow:
            -0px -0px 60px #cecdcd,
            20px 20px 60px #ffffff;
        transform: translateY(4rem);
    }

    .children {
        z-index: 100;
        display: flex;
        padding: 1rem;
        gap: 2rem;
    }

    .bg {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 99.4%;
        height: 99%;
        z-index: 2;
        background: var(--lightgrey);
        backdrop-filter: blur(24px);
        border-radius: 10px;
        overflow: hidden;
        outline: 2px solid white;
    }

    .blob {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 99%;
        height: 99%;
        border-radius: 50%;
        background-color: var(--lightgreen);
        opacity: 1;
        filter: blur(22px);
        animation: blob-bounce 10s infinite linear;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 70rem) {
    .card {
        position: relative;
        width: fit-content;
        height: fit-content;
        border-radius: 14px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow:
            -0px -0px 60px #cecdcd,
            20px 20px 60px #ffffff;
        transform: translateY(2rem);
    }


    .children {
        z-index: 100;
        display: flex;
        padding: 1rem;
        gap: clamp(0.5rem, 0.5rem + 0.5vw, 0.8rem);
    }



    .bg {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 99.4%;
        height: 99%;
        z-index: 2;
        background: var(--lightgrey);
        backdrop-filter: blur(24px);
        border-radius: 10px;
        overflow: hidden;
        outline: 2px solid white;
    }

    .blob {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 99%;
        height: 99%;
        border-radius: 50%;
        background-color: var(--lightgreen);
        opacity: 1;
        filter: blur(22px);
        animation: blob-bounce 10s infinite linear;
    }
}