.container {

    position: relative;
    overflow: hidden;
    background-color: var(--lightgrey);
}

.contentContainer {
    z-index: 2;
    height: 100%;
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}


.groupContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titleContainer h2 {
    font-size: 6rem;
}

.group {

    max-width: 27rem;
    color: var(--black);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    gap: 1rem;
    padding: 2rem 2rem;
    border-radius: 0.5em;
    background: var(--lightgrey);
    cursor: pointer;
    font-family: var(--title-font);
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    font-size: 0.7rem;
    border-radius: 20px;
    filter: var(--brightness);
    border: 1px solid var(--lightgrey);
}

.group:hover {
    border: 1px solid var(--green);
}

.group h3 {
    font-size: 2.5rem
}

.group p {
    width: 80%;
    font-size: 0.8rem;
}