.container {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: var(--main-padding);

}

.contentContainer {
    display: flex;
    height: 100vh;
    max-height: min(1000px, 90vh);
    height: fit-content;
    flex-direction: column;
    gap: var(--main-padding);

}

.group {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    height: fit-content;
    padding: 1rem;
    gap: calc(0.4rem + 0.6vw);
    grid-template-rows: 1fr 1fr;
    align-self: center;
    transition: height 0.3s ease;

}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: calc(0.8rem + 1vw);
    align-items: center;
}

.textContainer p {
    width: 100%;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    max-width: calc(10rem + 13vw);

}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.iconContainer img {
    height: 12rem;
    width: auto;
    border-radius: 15px;
}

.linkContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;

}

.linkContainer svg {
    transform: rotate(-45deg)
}

.small:nth-child(2),
.small:nth-child(4) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
}

.small:nth-child(2) .iconContainer img {
    height: 3rem;
    width: auto;
}

.small:nth-child(4) .iconContainer img {
    height: 3rem;
    width: auto;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 47.9rem) {
    .container {
        padding: 1rem;
        position: relative;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .contentContainer {
        display: flex;
        height: fit-content;
        flex-direction: column;
    }

    .group {
        min-width: calc(13rem + 15vw);
        display: grid;
        height: fit-content;
        padding: 0;
        grid-template-rows: repeat(2, 50%);
        min-height: calc(19rem + 16vh);
        height: fit-content;
        max-height: none;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: 100%;
        align-items: center;
        width: calc(13rem + 15vw);
        padding: 0;
    }

    .textContainer p {
        width: 100%;
        text-align: justify;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        min-width: 100%;
    }

    .iconContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .iconContainer img {
        height: 10rem;
        width: auto;
    }

    .group:nth-child(2) {
        height: 3rem;
        width: auto;
    }

    .group:nth-child(4) {
        height: 3rem;
        width: auto;
    }

    .small:nth-child(2),
    .small:nth-child(4) {
        display: none;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 74rem) {
    .container {
        position: relative;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    .contentContainer {
        display: flex;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        flex-direction: column;
        gap: var(--main-padding);
        width: 100%;
        min-height: none;

    }

    .group {
        width: 100%;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        min-height: calc(18rem + 10vh)
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        align-items: center;
    }

    .textContainer p {
        width: 80%;
        text-align: justify;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .iconContainer {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .iconContainer img {
        height: auto;
        width: clamp(11rem, 8rem + 10vw, 12rem);
        border-radius: 15px;
    }

    .small:nth-child(2) .iconContainer img,
    .small:nth-child(4) .iconContainer img {
        height: clamp(1.5rem, 1rem + 3vw, 2rem);
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding: 0;
    }

    .small:nth-child(2),
    .small:nth-child(4) {
        display: none;
    }
}