.herocontent {
    height: 100%;
    height: 100svh;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: var(--hero-padding);
}



.horizontalLayout {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}