.sectionContainer {
    height: fit-content;
    width: 100%;
    overflow: hidden;
    position: relative;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 47.99rem) {
    .sectionContainer {
        height: fit-content;
        width: 100%;
        overflow: hidden;
        position: relative;
        padding: 2rem 0;
    }

    .sticky {
        position: sticky;
        top: 0;
        left: 0;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 74rem) {}


@media (min-width: 48rem) and (max-width: 74rem) and (orientation: portrait) {}